

/****************
プロフィール設定
****************/
.profile {
	position: relative;
	margin: 0 0 0 30px;
	color: var(--theme-text-color);
}
.profile .profile_inner {
	position: relative;
}

/************************
プロフィール設定 フォーム
************************/
.profile .profile_inner .profile_form {
	margin: 30px auto;
	width: 95%;
	position: relative;
}
.profile .profile_inner .profile_form {
	margin: 30px 0;
	position: relative;
}
.profile .profile_inner .profile_form .block {
	position: relative;
	margin: 0 0 30px 0;
}
.profile .profile_inner .profile_form .block label {
	position: relative;
	display: block;
	color: var(--theme-text-color);
}
.profile .profile_inner .profile_form img {
	display: block;
	margin: 15px;
}

.profile .profile_inner .profile_form .block input[type="text"] {
	color: var(--theme-text-color);
	padding: 10px;
	width: 240px;
	font-size: 18px;
	box-sizing: border-box;
	border-radius: 2px;
	background-color: var(--theme-form-background-color);
	border: 1px solid var(--theme-border-color1);
	-webkit-appearance: none;
	appearance: none;
}
.profile .profile_inner .profile_form .block input[type="text"]::placeholder {
	color: var(--theme-post-placeholder-color);
}

.profile .profile_inner .profile_form .block select {
font-size: 14px;
line-height: 2;
	color: var(--theme-text-color);
	border: 1px solid var(--theme-border-color1);
box-shadow: none;
border-radius: 3px;
padding: 0 18px 0 8px;
min-height: 30px;
max-width: 25rem;
-webkit-appearance: none;
background: var(--theme-form-background-color) url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E') no-repeat right 5px top 55%;
background-size: 16px 16px;
cursor: pointer;
vertical-align: middle;
}

.profile .profile_inner .profile_form .block textarea {
	color: var(--theme-text-color);
	padding: 10px;
	width: 80%;
	font-size: 18px;
	height: 200px;
	box-sizing: border-box;
	border-radius: 2px;
	background-color: var(--theme-form-background-color);
	border: 1px solid var(--theme-border-color1);
	-webkit-appearance: none;
	appearance: none;
}
.profile .profile_inner .profile_form .block textarea::placeholder {
	color: var(--theme-post-placeholder-color);
}
.submit {
	cursor: pointer;
	color: var(--theme-button-text-color);
	background-color: var(--theme-color4);
	margin: 10px 0 30px 0;
	padding: 18px;
	width: 80%;
	font-size: 18px;
	box-sizing: border-box;
	border-radius: 2px;
	border: 0px solid #a5a5a5;
	-webkit-appearance: none;
	appearance: none;
}





/**************
1024px以下の設定
**************/
@media screen and (min-width: 0px) and (max-width: 1024px) {
	.profile .profile_inner .profile_form .block input[type="text"] {
		width: 100%;
		box-sizing: border-box;
	}
}


/**************
375px以下の設定
**************/
@media screen and (min-width: 0px) and (max-width: 375px) {
	.admin_right {
		width: 183px;
	}
	.profile .profile_inner .profile_form .block textarea {
		width: 100%;
	}
}

/**************
320px以下の設定
**************/
@media screen and (min-width: 0px) and (max-width: 320px) {
	.admin_right {
		width: 128px;
	}
}
