

.coreupdate {

}
.coreupdate .coreupdate_inner {
	margin: 0 0 0 30px;
}
.coreupdate .coreupdate_inner p {

}
.coreupdate .coreupdate_inner a {
	color: #fff;
	background-color: #007cff;
	padding: 7px 10px 7px 10px;
	border-radius: 3px;
	display: inline-block;
}
.coreupdate .coreupdate_inner a:visited {

}
.coreupdate .coreupdate_inner .alert {
	border: 2px dashed var(--theme-color4);
	display: inline-block;
	margin: 15px 0 30px;
	padding: 15px;
}
.coreupdate .coreupdate_inner .alert p {
	margin: 0px 0 0px;
}
