
.main {
	padding: 0;
}
.markdown_editor {
	position: relative;
	width: 100%;
	margin: 25px 0 0 0;
}
.markdown_editor .markdown_editor_inner {
	margin: 0 auto;
	padding: 30px 30px 0px 30px;
	position: relative;
}
.markdown_editor .markdown_editor_inner form {
position: relative;
width: 77%;
margin: 0 auto;
}
.markdown_editor .markdown_editor_inner form input[type="text"] {
	color: var(--theme-text-color);
	margin:0 0 30px 0;
	background-color: var(--theme-color1);
	padding: 18px;
	width: 100%;
	font-size: 18px;
	box-sizing:border-box;
	border-radius: 2px;
	border: 1px solid #a5a5a5;
font-size: 28px;
margin: 0 0 0px 0;
font-weight: 500;
line-height: 135%;
font-family: "游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴシック Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
	-webkit-appearance: none;
	appearance: none;
    /* 枠線を消す */
    border: none;
    /* 右下の//(サイズ変更機能)を消す */
    resize: none;
    /* フォーカスした際の青い枠線を消す */
    outline: none;
}
.markdown_editor .markdown_editor_inner form input[type="text"]::placeholder,
.markdown_editor .markdown_editor_inner form textarea::placeholder {
	color: var(--theme-post-placeholder-color);
}

/*********************
Windowsのブラウザ用
*********************/
/*
::-webkit-scrollbar {
	width: 12px;
	height: 15px;
  }
  ::-webkit-scrollbar-track {
	background: rgba(250, 250, 250, 1);
	border: solid 1px rgba(245, 245, 245, 1);
  }
  
  ::-webkit-scrollbar-thumb {
	background: rgba(190, 190, 190, 1);
	border-radius: 10px;
	box-sizing: border-box;
	border: solid 3px rgba(250, 250, 250, 1);
  }
  
  ::-webkit-scrollbar-thumb:hover {
	background: rgba(125, 125, 125, 1);
  }
  
  ::-webkit-scrollbar-corner {
	background: rgba(250, 250, 250, 1);
  }
*/

.markdown_editor .markdown_editor_inner form textarea {
	width: 100%;
	background-color: var(--theme-color1);
	color: var(--theme-text-color);
	height: 530px;
	margin: 0 auto;
	font-size:16px;
    /* 枠線を消す */
    border: none;
    /* 右下の//(サイズ変更機能)を消す */
    resize: none;
    /* フォーカスした際の青い枠線を消す */
    outline: none;
	-webkit-appearance: none;
	appearance: none;
font-family: "游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴシック Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
font-feature-settings: 'pwid';
letter-spacing: 0.3px;

}



.markdown_editor .markdown_editor_inner form .save_button_list {
	position: absolute;
	top: -30px;
	right: 30px;
}

.markdown_editor .markdown_editor_inner form .save_button_list .preview {
	display: inline-block;
	background-color: var(--theme-color4);
	border: 1px solid var(--theme-color4);
	border-radius: 3px;
	color: var(--theme-button-text-color);
	cursor: pointer;
	font-size: 82%;
	padding: 5px 5px;
	margin: 0 1px 0 0;
}
.markdown_editor .markdown_editor_inner form .save_button_list .draft {
	display: inline-block;
	background-color: var(--theme-color4);
	border: 1px solid var(--theme-color4);
	border-radius: 3px;
	color: var(--theme-button-text-color);
	cursor: pointer;
	font-size: 82%;
	padding: 5px 5px;
	margin: 0 1px 0 0;
}
.markdown_editor .markdown_editor_inner form .save_button_list .submit, 
.markdown_editor .markdown_editor_inner form .save_button_list .edit {
	display: inline-block;
	background-color: var(--theme-color4);
	border: 1px solid var(--theme-color4);
	border-radius: 3px;
	color: var(--theme-button-text-color);
	cursor: pointer;
	font-size: 82%;
	padding: 5px 5px;
	margin: 0 1px 0 0;
}
.markdown_editor .markdown_editor_inner form .check {
	position: absolute;
	display: block;
	width: auto;
	display: block;
	width: 33px;
	top: 1px;
	right: 60px;
}
/************
クリップ機能
************/
.clip {
	position: absolute;
	top: 50px;
	right: 30px;
}
.clip ul {
	list-style:none;
	color: var(--theme-text-color);
}
.clip ul li {
	cursor: pointer;
}
.clip ul li .howto {
	opacity: 0.3;
}
/*
重なりがない場合は
	opacity: 0.3;
重なりがある場合は
	filter: brightness(50%);
*/
/*************************************
ショートカット下書き保存お知らせ機能
*************************************/
.shortcut_notice {
	display: none;
	background-color: #2F3136;
	position: fixed;
	right: 30px;
	bottom: 30px;
	padding: 15px;
	border-radius: 3px;
	transition: all 500ms 0s ease;
	color: #eeeeee;
}
/**************
文字数チェック
***************/
.text_count_check {
	position: absolute;
	top: -5px;
	right: 38px;
	color: var(--theme-text-color);

}
.text_count_check .text_count_check_num {
	text-align: right;
}






















/**************
1024px以下の設定
**************/
@media screen and (min-width: 0px) and (max-width: 1024px) {
	.markdown_editor .markdown_editor_inner {
		padding: 128px 30px 0px 30px;
	}
	.text_count_check {
		top: 145px;
	}
	.clip {
		top: 200px;
	}
}

/**************
740px以下の設定
**************/
@media screen and (min-width: 0px) and (max-width: 740px) {
	.markdown_editor .markdown_editor_inner {
		padding: 104px 30px 0px 30px;
	}
	.markdown_editor .markdown_editor_inner form {
		width: 100%;
	}
}











