.DS_Stone
.DS_Store
DS_Store
article/*
newarticle/*
products/*
*.html
*.html.gz
*.js.gz
assets/img/*
assets/img/article_ogp/*
app/theme/first_time/controller/sitemap/sitemap.xml
*.xml
category/*
markdown_post_tmt.txt
gzip/generate/article_log.txt
gzip/generate/products_log.txt
gzip/generate/category_log.txt
cron/amazon_api/products_fall_percentage_fix_log.txt
login/admin/category_add/preliminary_data.txt
writer/*
app/theme/first_time/controller/article/*
app/assets/img/article_ogp/*
app/assets/fileupload/*
app/assets/img/user/*
setting/markdown_article_tmt.txt
