.DS_Stone
.DS_Store
DS_Store
article/*
newarticle/*
products/*
*.html
*.html.gz
*.js.gz
assets/img/*
assets/img/article_ogp/*
app/theme/first_time/controller/sitemap/sitemap.xml
*.xml
category/*
writer/*
app/theme/first_time/controller/article/*
app/assets/img/article_ogp/*
app/assets/fileupload/*
app/assets/img/user/*
!app/assets/img/user/default_1.png
setting/markdown_article_tmp.txt
setting/db_config.php
app/theme/first_time/controller/writer/*
tmp/