.DS_Stone
.DS_Store
DS_Store
article/*
newarticle/*
products/*
*.html
*.html.gz
*.js.gz
app/theme/first_time/controller/sitemap/sitemap.xml
*.xml
category/*
writer/*
vendor/*
tmp/*

app/theme/first_time/controller/article/*
!app/theme/first_time/controller/article/index.php
!app/theme/first_time/controller/article/1/index.php
!app/theme/first_time/controller/article/2/index.php
!app/theme/first_time/controller/article/3/index.php
!app/theme/first_time/controller/article/.gitkeep

app/theme/first_corporate/controller/article/*
!app/theme/first_corporate/controller/article/index.php
!app/theme/first_corporate/controller/article/1/index.php
!app/theme/first_corporate/controller/article/2/index.php
!app/theme/first_corporate/controller/article/3/index.php
!app/theme/first_corporate/controller/article/.gitkeep

app/theme/first_time/controller/writer/*
!app/theme/first_time/controller/writer/.gitkeep

app/theme/first_corporate/controller/writer/*
!app/theme/first_corporate/controller/writer/.gitkeep

app/assets/img/article_ogp/*
!app/assets/img/article_ogp/.gitkeep
!app/assets/img/article_ogp/1.png
!app/assets/img/article_ogp/2.png
!app/assets/img/article_ogp/3.png

app/assets/fileupload/*
!app/assets/fileupload/.gitkeep

app/assets/img/user/*
!app/assets/img/user/default_1.png
!app/assets/img/user/basic_default_icon_black_1.png
!app/assets/img/user/basic_default_icon_blue_1.png
!app/assets/img/user/basic_default_icon_green_1.png
!app/assets/img/user/basic_default_icon_pink_1.png
!app/assets/img/user/basic_default_icon_yellow_1.png

setting/markdown_article_tmp.txt
setting/db_config.php
