#.htaccess
# 全てのアクセスをindex.phpにアクセスさせる
<IfModule mod_rewrite.c>
    RewriteEngine On
		RewriteRule ^.*$ index.php
</IfModule>

# ファイルの優先順位
DirectoryIndex index.html.gz index.html index.php

# RewriteEngineをOnにする
Options +FollowSymLinks

# 内部ディレクトリ非表示
Options -Indexes

RewriteEngine on
RewriteCond %{HTTP:Accept-Encoding} gzip
RewriteCond %{REQUEST_FILENAME}\.gz -s
RewriteRule .+ %{REQUEST_URI}.gz

#スタイルシート (.css)
<FilesMatch "\.css\.gz$">
	ForceType text/css
	AddEncoding x-gzip .gz
</FilesMatch>

#Javascript (.js)
<FilesMatch "\.js\.gz$">
	ForceType application/x-javascript
	AddEncoding x-gzip .gz
</FilesMatch>

#HTML (.html)
<FilesMatch "\.html\.gz$">
	ForceType   text/html
	AddEncoding x-gzip .gz
</FilesMatch>

#PHP (.php)
<FilesMatch "\.php\.gz$">
	ForceType   text/html
	AddEncoding x-gzip .gz
</FilesMatch>

# https強制
<If "%{HTTP_HOST} =~ /.*localhost.*/">
	# ローカルでは何も指定しない
</If>

# スラッシュなかったら追加
RewriteEngine on
RewriteCond %{REQUEST_URI} !/$
RewriteCond %{REQUEST_URI} !\.[^/\.]+$
RewriteRule .* %{REQUEST_URI}/ [R=301,L]

# index名削除
RewriteEngine on
RewriteCond %{THE_REQUEST} ^.*/index.html
RewriteRule ^(.*)index.html$ https://%{HTTP_HOST}/$1 [R=301,L]

# index名削除
RewriteEngine on
RewriteCond %{THE_REQUEST} ^.*/index.php
RewriteRule ^(.*)index.php$ https://%{HTTP_HOST}/$1 [R=301,L]

# www削除
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
RewriteRule ^ https://%1%{REQUEST_URI} [L,R=301]

# Expires を指定する方法
<IfModule mod_expires.c>
	ExpiresActive On
	# 全てをキャッシュする
	# ExpiresDefault                  "access plus 1 days"

	# HTML
	ExpiresByType text/html                "access plus 6 hours"
</IfModule>
