.coupon .coupon_inner .coupon_inner_box .coupon_submit .coupon_submit_inner {
	width: auto;
}


/*************
営業セクション
*************/
.section_block {
	margin: 0;
}

.section_block .textarea_block {

}
.section_block .textarea_block textarea {
	margin: 0 0 5px 0;
}

.section_block .done_button {
	color: #292f33;
	cursor: pointer;
	color: #fcfcfc;
	background-color: #58e481;
	margin: 23px 0 0 336px;
	padding: 12px 18px;
	width: 100%;
	font-size: 18px;
	box-sizing: border-box;
	border-radius: 2px;
	border: 0px solid #a5a5a5;
	-webkit-appearance: none;
	appearance: none;
}
