
/******************
trash_action
******************/
.picture_center_inner_box .trash_action,  
.picture_center_inner_box .trash_action_type_2 {

}
.picture_center_inner_box .trash_action_type_2 {
	visibility: hidden;
}

.picture_center_inner_box .trash_action .trash_action_inner,
.picture_center_inner_box .trash_action_type_2 .trash_action_inner_type_2 {
	background: white;
	height: 64px;
	left: 0;
	right: 0;
	top: 0;
	position:fixed;
	box-shadow: 0px 0px 6px 0px rgba(60,64,67,0.30);
	z-index: 30;
}
.picture_center_inner_box .trash_action .trash_action_inner .trash_action_inner_box,
.picture_center_inner_box .trash_action_type_2 .trash_action_inner_type_2 .trash_action_inner_box_type_2 {
	list-style: none;
	display: flex;
	padding: 0;
	margin: 14px 2% 0 215px;
	justify-content: flex-end;
}
.picture_center_inner_box .trash_action .trash_action_inner .trash_action_inner_box li {
	font-size: 19px;
}
.picture_center_inner_box .trash_action .trash_action_inner .trash_action_inner_box li button {
	border: none;
	background-color: transparent;
	margin: 0;
	padding: 0;
}
.picture_center_inner_box .trash_action .trash_action_inner .trash_action_inner_box li svg {
	width: 24px;
	height: 24px;
	margin: 5px;
	fill: #1EBC4D;
}
.picture_center_inner_box .trash_action .trash_action_inner .trash_action_inner_box li .action_back {
	margin: 4px 15px 0 0;
	font-size: 24px;
	width: 40px;
	height: 36px;
	padding: 4px 0 0 0;
	display: inline-block;
	position: relative;
	top: -7px;
	left: 0px;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
}
.picture_center_inner_box .trash_action .trash_action_inner .trash_action_inner_box li .action_trash_clean {
	margin: 4px 15px 0 0;
	font-size: 16px;
	color: #1EBC4D;
	padding: 4px 0 0 0;
	display: inline-block;
	position: relative;
	top: -5px;
	left: 0px;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
}
.picture_center_inner_box .trash_action .trash_action_inner .trash_action_inner_box li .action_folder_rename_submit:hover {
	background-color: #e9e9e9;
	border-radius: 33px;
}






.picture_center_inner_box .trash_action .trash_action_inner .trash_action_inner_box li:nth-child(1){

}
.picture_center_inner_box .trash_action .trash_action_inner .trash_action_inner_box li:nth-child(2) {
margin-left: auto;
margin-top: 0px;
}
.picture_center_inner_box .trash_action .trash_action_inner .trash_action_inner_box li:nth-child(3) {
margin-top: 0px;
}
/*****************************/
.back_word {
	margin: 2px 0 0 0;
}
/*********************************/
.trash_action_inner_box_type_2 {
	color: #1EBC4D;
}
.trash_action_inner_box_type_2 li {
	margin:  3px 0 0 0;
}
.trash_action_inner_box_type_2 li .selecte_trasha_delete {
	margin: 0 30px 0 0;
	cursor: pointer;
}
.trash_action_inner_box_type_2 li .trash_restore {
	cursor: pointer;
}
/***************

*****************/
.select_trash_delete_overlay,
.select_trash_select_delete_overlay,
.select_trash_restore_overlay {
	background: rgba(0, 0, 0, 0.55) none repeat scroll 0 0;
	z-index: 2000;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	visibility: hidden;
}

.select_trash_delete_overlay .select_trash_delete_overlay_inner,
.select_trash_select_delete_overlay .select_trash_select_delete_overlay_inner,
.select_trash_restore_overlay .select_trash_restore_overlay_inner {
	bottom: 0;
	display: block;
	height: 100%;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	right: 0;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 3000;
}
.select_trash_delete_overlay .select_trash_delete_overlay_inner .select_trash_delete_overlay_inner_box, 
.select_trash_select_delete_overlay .select_trash_select_delete_overlay_inner .select_trash_select_delete_overlay_inner_box,
.select_trash_restore_overlay .select_trash_restore_overlay_inner .select_trash_restore_overlay_inner_box {
	background-color: #ffffff;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 360px;
	border-radius: 12px;
	overflow-y: hidden;
}
.select_trash_delete_overlay .select_trash_delete_overlay_inner .select_trash_delete_overlay_inner_box_top,
.select_trash_select_delete_overlay .select_trash_select_delete_overlay_inner .select_trash_select_delete_overlay_inner_box_top,
.select_trash_restore_overlay .select_trash_restore_overlay_inner .select_trash_restore_overlay_inner_box_top {
	border-bottom: solid #e9e9e9 1px;
}
.select_trash_delete_overlay .select_trash_delete_overlay_inner .select_trash_delete_overlay_inner_title,
.select_trash_select_delete_overlay .select_trash_select_delete_overlay_inner .select_trash_select_delete_overlay_inner_title,
.select_trash_restore_overlay .select_trash_restore_overlay_inner .select_trash_restore_overlay_inner_title {
	top: 0;
	text-align: left;
	padding: 15px;
}
.select_trash_delete_overlay .select_trash_delete_overlay_inner .select_trash_delete_overlay_inner_delete,
.select_trash_select_delete_overlay .select_trash_select_delete_overlay_inner .select_trash_select_delete_overlay_inner_delete,
.select_trash_restore_overlay .select_trash_restore_overlay_inner .select_trash_restore_overlay_inner_delete {
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 24px;
	cursor:pointer;
}













.trash_delete_box, 
.trash_select_delete_box, 
.trash_restore_box {
	padding: 12px;
	text-align: right;
}
.trash_delete_box p, 
.trash_select_delete_box p, 
.trash_restore_box p {
	text-align: left;
}
.trash_delete_box .trash_delete_cancel, 
.trash_select_delete_box .trash_select_delete_cancel, 
.trash_restore_box .trasht_restore_cancel {
	display: inline-block;
	padding: 5px;
	cursor: pointer;
}
.trash_delete_box .trash_delete_submit, 
.trash_select_delete_box .trash_select_delete_submit, 
.trash_restore_box .trash_restore_submit {
	position: relative;
	border: solid 0px #e63870;
	display: inline-block;
	background-color: #3474E0;
	color: #ffffff;
	border-radius: 3px;
	font-size: 14px;
	padding: 10px;
	cursor: pointer;
	text-align: right;
}



























