/********************************
管理画面テーマカラーカスタム変数
********************************/
/************************
1背景
2レフトドロワー
3レフトドロワーホバー時
4通知
************************/
:root {
	--theme-color1: #FFFFFD;
	--theme-color2: #FFCC00;
	--theme-color3: #ffe26f;
	--theme-color4: #fc5c7d;

	--theme-h1-text-color: #1b1b1b;
	--theme-h2-text-color: #1b1b1b;
	--theme-h3-text-color: #1b1b1b;

	--theme-h-design-color: #fc5c7d;

	--theme-border-text-color: #ffe883;
	--theme-button-text-color: #fff;
	--theme-text-color: #1b1b1b;
	--theme-link-text-color: #fff;

	--theme-border-color1: #fc5c7d;
	--theme-border-color2: #f1f1f1;
	--theme-border-color3: #dadada;

	--theme-now-color: #fc5c7d;

	--theme-template-title-text-color: #ff829c;

	--theme-post-placeholder-color: #999;
	--theme-form-background-color: #FFFFFD;

	--theme-general-select-background-color: #FFFFFD;

	--theme-filelist-filename-background-color: #FFFFFD;
}
