/********************************
管理画面テーマカラーカスタム変数
********************************/
/************************
1背景
2レフトドロワー
3レフトドロワーホバー時
4通知
************************/
:root {
	--theme-color1: #fcfcfc;
	--theme-color2: #f4cbe2;
	--theme-color3: #F2B6C6;
	--theme-color4: #F2B6C6;

	--theme-h1-text-color: #212121;
	--theme-h2-text-color: #212121;
	--theme-h3-text-color: #212121;

	--theme-h-design-color: #F2B6C6;

	--theme-border-text-color: #fdeeef;
	--theme-button-text-color: #fff;
	--theme-text-color: #212121;
	--theme-link-text-color: #FFFFFF;

	--theme-border-color1: #F2B6C6;
	--theme-border-color2: #FFFFFF;
	--theme-border-color3: #CCC;

	--theme-now-color: #F2B6C6;

	--theme-template-title-text-color: #fcc2d2;

	--theme-post-placeholder-color: #999999;
	--theme-form-background-color: #FFFFFF;

	--theme-general-select-background-color: #FFFFFD;

	--theme-filelist-filename-background-color: #FFFFFD;
}
