






.card_article .card_article_inner {
	margin: 15px 0 0 0;
}

.card_article .card_article_inner  ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.card_article .card_article_inner  ul li {

}

.card_article .card_article_inner  ul li article {

}

.card_article .card_article_inner  ul li article a {
	color: #3a3a3a;
}

.card_article .card_article_inner  ul li article a .thumbnail {
	display: none;
}









