/***
root
***/

.root {}

.root .root_inner {
	margin: 0 auto;
}

/*********
first_view
*********/
.first_view {
	height: 70vh;
	margin: 150px 0 0 0;
}
.first_view .first_view_title {
	font-size: 45px;
	font-weight: bold;
	margin: 0 0 10px 0;
}
.first_view .first_view_bottom_title {
	font-size: 30px;
	margin: 0 0 20px 0;
}
.first_view p {

}
/*********
content_block
*********/
.content_block {

}
.content_block .block_box {
	display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-items: baseline;
align-content: flex-start;
}
.content_block .block_box .left_block {
	margin: 0 0 30px 0;
	width: 70%;
}
.content_block .block_box .left_block h2 {
	font-size: 45px;
	font-weight: bold;
}
.content_block .block_box .left_block .copy {
	font-size: 45px;
	font-weight: bold;
	margin: 15px 0 0 0;
}

.content_block .block_box .left_block .copy span {

}
.content_block .block_box .right_block {
	margin: 0 0 30px 0;
	width: 30%;
}
.content_block .block_box .right_block p {

}
/*********
content_block_v2
*********/
.content_block_v2 {

}
.content_block_v2 .block_box {
	display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-items: flex-start;
align-content: flex-start;
}
.content_block_v2 .block_box img {
	width: 100%;
	height: auto;
padding: 30px;
box-sizing: border-box;
}
.content_block_v2 .block_box .left_block {
	margin: 0 0 30px 0;
	width: 50%;
}
.content_block_v2 .block_box .left_block h2 {
	font-weight: bold;
}
.content_block_v2 .block_box .left_block .copy {
	font-weight: bold;
	margin: 15px 0 0 0;
}

.content_block_v2 .block_box .left_block .copy span {

}
.content_block_v2 .block_box .right_block {
	margin: 0 0 30px 0;
	width: 50%;
}
.content_block_v2 .block_box .right_block p {

}





/**************
880px以下の設定
**************/

@media screen and (min-width: 0px) and (max-width: 880px) {

}


/**************
480px以下の設定
**************/

@media screen and (min-width: 0px) and (max-width: 480px) {

}


/**************
320px以下の設定
**************/

@media screen and (min-width: 0px) and (max-width: 320px) {}