
/*** デフォルト ***/
.markdown_editor .markdown_editor_inner form .permalink {
position: absolute;
top: -30px;
right: 254px;
}
/*** chorme対応 ***/
_:lang(x)::-internal-media-controls-overlay-cast-button, .markdown_editor .markdown_editor_inner form .permalink {
	position: absolute;
	top: -29px;
	right: 290px;
}
/*** safari対応 ***/
_:lang(x)+_:-webkit-full-screen-document, .markdown_editor .markdown_editor_inner form .permalink {
	position: absolute;
	top: -30px;
	right: 264px;
}

.markdown_editor .markdown_editor_inner form .permalink input[type="text"] {
	color: var(--theme-text-color);
	padding: 3px;
	font-size: 16px;
	background-color: aliceblue;
	background-color: var(--theme-form-background-color);
	border: 1px solid var(--theme-border-color1);
	display: inline-block;
	width: 120px;
}
.markdown_editor .markdown_editor_inner form .permalink .permalink_view {
	color: var(--theme-text-color);
	display: inline-block;
}