
.draft_list_content {
	padding: 15px;
	border-bottom: 1px solid #d7d7d7;
}
.draft_list_content .draft_list_content_edit {

}
.draft_list_content .draft_list_content_edit ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.draft_list_content .draft_list_content_edit ul li {

}
