/********************
first_timeカスタム変数
********************/

:root {
	--back-ground-color: #fff;
	--theme-color1: #006ded;
	/*
	--theme-color2: ;
	--theme-color3: ;
*/
}


/*******
common
*******/

p, small, strong {
	color: #212121;
}

pre {
	font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	line-height: 175%;
	margin: 0;
	word-wrap: break-word;
}

a, a:link, a:visited {
	text-decoration: none;
}

table, ul {
	color: #3a3a3a;
}

.p_0, body {
	padding: 0;
}

.drawer_nav, body {
	overflow-x: hidden;
}

h5, h6, table {
	font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
	color: #212121;
	margin: 0;
	line-height: 135%;
}

h3 {
	font-size: 110%;
}

h4 {
	font-size: 105%;
}

p {
	font-size: 94%;
	margin: 0 0 15px;
}

img {
	border: none;
	vertical-align: bottom;
}

a:link {
	color: #009BD8;
}

a:visited {
	color: #9A41CD;
}

a:hover {
	text-decoration: underline;
	-moz-text-decoration-style: solid;
}


/***
html
***/

html {}

body {
	font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: 500;
	line-height: 175%;
	margin: 0;
	font-feature-settings: 'pwid';
	letter-spacing: 0.3px;
	background-color: #ffffff;
	background-color: var(--back-ground-color);
}


/******
wrapper
******/

.wrapper {
	position: relative;
	width: 100%;
	word-wrap: break-word;
}


/*******
ヘッダー
*******/

.header {
	transition: 0.1s ease-in-out;
	/*滑らかに表示*/
}

.header .header_antigravity {}

.header .header_inner {
	margin: 0 auto;
	width: 95%;
}

.header .header_inner .logo {
	float: left;
}

.header .header_inner .logo h1 {
	margin: 20px 0 0 0px;
	text-align: left;
	color: #292f33;
}

.header .header_inner .logo a {}

.header .header_inner .logo a:visited {
	color: #292f33;
}

.header .header_inner .logo a img {}

/**************
#nav-drawer
**************/

#nav-drawer {
	/*
	display:none;
*/
	position: relative;
	float: right;
	z-index: 10;
}


/*チェックボックス等は非表示に*/

.nav-unshown {
	display: none;
}


/*アイコンのスペース*/

#nav-open {
	display: inline-block;
	width: 25px;
	height: 19px;
	padding: 34px 15px 17px 15px;
	vertical-align: middle;
}


/*ハンバーガーアイコンをCSSだけで表現*/

#nav-open span, #nav-open span:before, #nav-open span:after {
	position: absolute;
	height: 3px;
	/*線の太さ*/
	width: 25px;
	/*長さ*/
	border-radius: 3px;
	background: #555;
	display: block;
	content: '';
	cursor: pointer;
}

#nav-open span:before {
	bottom: -8px;
}

#nav-open span:after {
	bottom: -16px;
}


/*閉じる用の薄黒カバー*/

#nav-close {
	display: none;
	/*はじめは隠しておく*/
	position: fixed;
	z-index: 99;
	top: 0;
	/*全体に広がるように*/
	left: 0;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0;
	transition: 0.1s ease-in-out;
}


/*中身*/

#nav-content {
	overflow: auto;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 9999;
	/*最前面に*/
	width: 70%;
	/*右側に隙間を作る*/
	max-width: 320px;
	/*最大幅*/
	height: 100%;
	background: #fff;
	/*背景色*/
	transition: 0.2s ease-in-out;
	/*滑らかに表示*/
	-webkit-transform: translateX(105%);
	transform: translateX(105%);
	/*右に隠しておく*/
}


/*チェックが入ったらもろもろ表示*/

#nav-input:checked~#nav-close {
	display: block;
	/*カバーを表示*/
	opacity: .5;
}

#nav-input:checked~#nav-content {
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
	/*中身を表示*/
	box-shadow: 6px 0 25px rgba(0, 0, 0, .15);
}

#nav-content ul {
	list-style: none;
}

#nav-content ul p {
	font-weight: bold;
}

#nav-content ul li {}

#nav-content ul li a {
	color: #292f33;
	display: block;
	padding: 15px;
}

#nav-content ul li a::link {
	color: #292f33;
}

#nav-content ul li a::visited {
	color: #292f33;
}


/*****
drawer
*****/

.drawer {
	float: right;
	margin: 0 0px 0 0;
	z-index: 10;
}

.drawer .drawer_inner {}

.drawer .drawer_inner ul {
	list-style: none;
}

.drawer .drawer_inner ul li {
	float: left;
	margin: 15px;
}

.drawer .drawer_inner ul li a {
	color: #292f33;
	padding: 1px 0 0 1px;
}


/***************
navi_slide_menu
***************/

.navi_slide_menu {
	margin: 0 auto;
	padding: 0px 2.5% 0;
	border-bottom: solid 1px #d7d7d7;
	margin: -21px 0 30px 0;
}

.navi_slide_menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	top: 1px;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	position: relative;
}

.navi_slide_menu ul li {
	box-sizing: border-box;
	align-self: stretch;
	margin: 0 15px;
	padding: 5px 0;
	white-space: nowrap;
}

.navi_slide_menu ul li.now {
	border-bottom: solid var(--theme-color1) 2px;
}

.navi_slide_menu ul li a {
	color: #292f33;
	padding: 12px 0;
}

/***
main
***/

.main {
	padding: 0px 0 0;
	margin: 0 auto;
	width: 70%;
}

.main main_inner {}


/**************
パンくずリスト
**************/

.breadcrumb {
	font-size: 12px;
	margin: 0 0 15px 0;
	line-height: 175%;
}

.breadcrumb ol {
	padding: 0;
	margin: 0;
	list-style: none;
}

.breadcrumb ol li {
	display: inline-block;
}

.breadcrumb ol li::after {
	position: relative;
	top: -1px;
	left: 1px;
	content: ">";
	font-size: 12px;
	margin: 0 5px 0 5px;
}

.breadcrumb ol li:last-child::after {
	content: "";
}

.breadcrumb ol li a {
	color: #212121;
}


/************
section_block
************/

.section_block {
	padding-top: 50px;
	margin-top: -50px;
}

.section_function_block {
	margin: 0 0 150px 0;
}

.section_block .section_title_top {
	font-size: 32px;
	color: #e63870;
	text-align: center;
	font-weight: bold;
	margin: 0;
}

.section_block .section_title {
	font-size: 47px;
	color: #2f2f2f;
	text-align: center;
	margin: 0;
}

.section_block .section_title_bottom {
	font-size: 16px;
	color: #757575;
	text-align: center;
	margin: 0;
}


/*********************
section_block_box_left
*********************/

.section_block_box_left {
	margin: 0 0 30px 5%;
	display: flex;
}

.section_block_box_left .section_block_box_left_left_content {
	width: 35%;
}

.section_block_box_left .section_block_box_left_right_content {
	width: 75%;
	position: relative;
	display: flex;
	flex-direction: row-reverse;
	align-items: flex-start;
}

.section_block_box_left .section_block_box_left_right_content img {
	width: 100%;
	height: auto;
	right: -15%;
	position: relative;
}

.section_block_box_left .section_block_box_left_left_content .section_block_box_title {
	font-size: 32px;
	color: #2f2f2f;
	margin: 0;
}

.section_block_box_left .section_block_box_left_left_content .section_block_box_bottom {
	font-size: 16px;
	color: #7d7d7d;
	margin: 0;
}


/**********************
section_block_box_right
**********************/

.section_block_box_right {
	padding: 30px 5% 30px 0;
	display: flex;
	/*
	background-color: #B04CFF;
*/
}

.section_block_box_right .section_block_box_right_right_content {
	width: 45%;
}

.section_block_box_right .section_block_box_right_left_content {
	width: 55%;
	position: relative;
	display: flex;
	align-items: flex-start;
}

.section_block_box_right .section_block_box_right_left_content img {
	left: -15%;
	position: relative;
	width: 100%;
	height: auto;
}

.section_block_box_right .section_block_box_right_right_content .section_block_box_title {
	font-size: 40px;
	color: #2f2f2f;
	margin: 0;
}

.section_block_box_right .section_block_box_right_right_content .section_block_box_bottom {
	font-size: 20px;
	color: #ffffff;
	color: #7d7d7d;
	line-height: 155%;
	margin: 0;
}

.section_block_box_wave {
	position: relative;
}

.section_block_box_wave .section_block_box_wave_inner {
	background-color: #DEF8F8;
}

.section_block_box_wave img {
	width: 100%;
	height: auto;
}

.section_block_box_wave img {
	width: 100%;
	height: auto;
}

.section_block_box_wave img:first-child {
	position: relative;
	bottom: -1px;
}

.section_block_box_wave img:last-child {
	position: relative;
	top: -1px;
}


/******************
事例、サイトマップ
******************/

.section_block .cace_block {
	margin: 0 auto 30px;
	width: 50%;
}

.section_block .cace_block:nth-child(3) {}

.section_block .cace_block h3 {
	font-size: 30px;
	color: rgb(255, 142, 142);
	color: rgb(97, 129, 154);
}

.section_block .cace_block .cace_block_h4 {
	font-size: 24px;
}

.section_block .cace_block .cace_block_h5 {
	font-size: 24px;
	display: inline-block;
	background: linear-gradient(transparent 75%, #58e481 0%);
}

.section_block .cace_block p {}


/**********
ページング
**********/

.article_new_back_list {
	list-style: none;
	padding: 0;
	margin: 30px 0 0 0;
	display: flex;
	flex-wrap: wrap;
}

.article_new_back_list .back {
	width: 50%;
	text-align: center;
}

.article_new_back_list .next {
	width: 50%;
	text-align: center;
}

.article_new_back_list a {
	border: 1px solid #eee;
	border-radius: 3px;
	box-sizing: border-box;
	display: block;
	padding: 15px 0 15px 0;
}

.article_new_back_list .back a {
	margin: 0 30px 0 0;
}

.article_new_back_list a:last-child {}

/*****
footer
*****/

.footer {
	background-color: #f8f8f8;
	background-color: #ffffff;
	position: relative;
}

.footer .footer_inner {
	margin: 0 auto;
	padding: 120px 0 0px 0;
	width: 95%;
	display: flex;
}

.footer .footer_inner .footer_box {
	position: relative;
	flex-direction: row-reverse;
}

.footer .footer_inner .footer_box:nth-child(1) {
	width: 182px;
}

.footer .footer_inner .footer_box:nth-child(2) {
	width: 340px;
}

.footer .footer_inner .footer_box h4 {}

.footer .footer_inner .footer_box p {}

.footer_box_bottom {
	margin: 0 auto 30px;
	width: 95%;
}

.footer_box_bottom ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	align-content: flex-start;
}

.footer_box_bottom ul li {
	display: flex;
	flex-direction: column-reverse;
	list-style: none;
	/*
	flex-basis: 33%;
*/
	box-sizing: border-box;
	align-self: stretch;
}


/*
.footer_box_bottom ul li:nth-child(1) {
	border-left: 1px solid #ccc;
}

.footer_box_bottom ul li:nth-child(2) {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
*/

.footer_box_bottom ul li a {
	padding: 0px 10px 0px 10px;
	color: #212121;
	font-size: 14px;
}

.footer_bottom {
	background-color: var(--theme-color1);
	position: relative;
	bottom: 0;
}

.footer_bottom .footer_bottom_inner {
	margin: 0 auto;
	padding: 20px 0 20px 0;
	width: 95%;
}

.footer_bottom .footer_bottom_inner .copy {}

.footer_bottom .footer_bottom_inner .copy p {
	color: #fcfcfc;
	text-align: right;
}

.footer_bottom .footer_bottom_inner .copy a {
	color: #fcfcfc;
}


/******
検索窓
******/

.search_window {
	float: right;
	margin: 0 0px 0 0;
	z-index: 10;
}

.search_window .search_window_inner {
	margin: 30px 0 0 0;
}

.search_window .search_window_inner .search_window_form {
	position: relative;
}

.search_window .search_window_inner .search_window_form input[type="search"] {
	color: #3a3e40;
	margin: 0 0 30px 0;
	padding: 5px 31px 5px 5px;
	width: 250px;
	font-size: 16px;
	background-color: #f5f5f5;
	box-sizing: border-box;
	border-radius: 3px;
	border: 1px solid #d2d2d2;
	-webkit-appearance: none;
	appearance: none;
}

.search_window .search_window_inner .search_window_form .search_logo {
	position: absolute;
	display: inline-block;
	cursor: pointer;
	width: 34px;
	height: 34px;
	top: 0px;
	right: 0px;
}

.search_window .search_window_inner .search_window_form .search_logo:hover {
	background-color: #ddd;
	border-radius: 0 3px 3px 0;
}

.search_window .search_window_inner .search_window_form .search_logo img {
	position: absolute;
	top: 8px;
	right: 9px;
}

.search_window .search_window_inner .search_window_form .search_logo input[type="submit"] {
	display: none;
}


/***************
検索窓スウィッチ
***************/

.search_switch {
	display: none;
}

.search_switch img {}


/***
ad
***/

.ad {
	margin: 0 0 30px 0;
}


/*******************
1366px以下の設定
*******************/

@media screen and (min-width: 0px) and (max-width: 1366px) {

}


/**************
1024px以下の設定
**************/

@media screen and (min-width: 0px) and (max-width: 1024px) {
	/***************
	navi_slide_menu
	***************/
	.navi_slide_menu {
		margin: 0 auto;
		padding: 0px 2.5% 0;
		border-bottom: solid 1px #d7d7d7;
		margin: 93px 0 30px 0;
		width: 95%;
		height: 40px;
		position: relative;
		z-index: 10;
	}
	.navi_slide_menu ul {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		top: 0px;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		position: relative;
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch;
		overflow-scrolling: touch;
		flex-wrap: nowrap;
	}
	.navi_slide_menu ul::-webkit-scrollbar {
		display: none;
	}
	.navi_slide_menu ul li {
		display: inline-table;
		box-sizing: border-box;
		align-self: stretch;
		margin: 0 15px;
		padding: 5px 0;
	}
	/*******
	ヘッダー
	*******/
	.header {
		position: fixed;
		top: 0;
		background-color: #fcfcfc;
		width: 100%;
		z-index: 11;
	}
	.header .header_inner {
		width: 100%;
	}
	.header .header_inner .logo {}
	.header .header_inner .logo h1 {
		margin: 5px 0 5px 5px;
	}
	.header .header_inner .logo a {}
	.header .header_inner .logo a img {
		width: 94px;
		height: auto;
	}
	/*****
	drawer
	*****/
	.drawer {
		display: none;
	}
	.top_gallery .top_gallery_inner .top_gallery_inner_left {
		width: auto;
	}
	#nav-drawer {
		display: block;
	}
	.main {
		padding: 0px 0 0;
		margin: 0 auto;
	}
}


/**************
768px以下の設定
**************/

@media screen and (min-width: 0px) and (max-width: 768px) {
	#nav-open {
		padding: 20px 15px 17px 15px;
	}
	.header .header_inner .logo h1 {
		margin: -6px 0 5px 12px;
	}
	/***************
	navi_slide_menu
	***************/
	.navi_slide_menu {
		margin: 53px 0 30px 0;
	}
	/******
	検索窓
	******/
	.search_window {
		display: none;
		float: none;
		position: absolute;
		top: -19px;
		right: 56px;
	}
	/***************
	検索窓スウィッチ
	***************/
	.search_switch {
		display: block;
		float: right;
		margin: 11px -3px 0 0;
		width: 40px;
		height: 40px;
		cursor: pointer;
	}
	.search_switch img {
		width: 21px;
		height: auto;
		top: 2px;
		left: 9px;
		position: relative;
	}
}


/**************
640px以下の設定
**************/

@media screen and (min-width: 0px) and (max-width: 640px) {

}


/**************
480px以下の設定
**************/

@media screen and (min-width: 0px) and (max-width: 480px) {

}


/**************
414px以下の設定
**************/

@media screen and (min-width: 0px) and (max-width: 414px) {
	#nav-open {
		padding: 20px 15px 17px 15px;
	}
	.footer .footer_inner {
		padding: 0px 0 0px 0;
	}
}


/*******************
375px以下の設定
*******************/

@media screen and (min-width: 0px) and (max-width: 375px) {

}


/*******************
320px以下の設定
*******************/

@media screen and (min-width: 0px) and (max-width: 320px) {}