@charset "UTF-8";
/**
ResizeCDNカラーベース
**/
.first-color { 
	background: #4e1e1e; 
}
.second-color { 
	background: #e63870; 
}
.third-color { 
	background: #fbe6a2; 
}
.fourth-color { 
	background: #58e481; 
}
.primary-text-color { 
	color: #212121; 
}
.secondary-text-color { 
	color: #757575; 
}
.divider-color { 
	color: #BDBDBD; 
}
.icon-color { 
	color: #000000; 
}








p, small, strong {
  color: #212121;
}

pre {
	font-family: "游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴシック Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
	line-height: 175%;
	margin: 0;
	word-wrap:break-word;
}

a, a:link, a:visited {
  text-decoration: none;
}

table, ul {
  color: #3a3a3a;
}

.p_0, body {
  padding: 0;
}

.heading_3, .heading_4 {
  border-left: 4px solid #ff3f3f;
}

.drawer_nav, body {
  overflow-x: hidden;
}

.symbol, a.symbol:before {
  font-family: 'Mono Social Icons Font';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

a.symbol:before {
  content: attr(title);
  margin-right: .3em;
  font-size: 130%;
}

h5, h6, table {
  font-size: 100%;
}

body {
	font-family: "游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴシック Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
	font-weight: 500;
	line-height: 175%;
	margin: 0;
	font-feature-settings: 'pwid';
	letter-spacing: 0.3px;
}

h1, h2, h3, h4, h5, h6 {
  color: #212121;
  margin: 0;
  line-height: 135%;
}

h3 {
  font-size: 110%;
}

h4 {
  font-size: 105%;
}

p {
  font-size: 94%;
  margin: 0 0 15px;
}

img {
  border: none;
  vertical-align: bottom;
}

a:link {
  color: #009BD8;
}

a:visited {
  color: #9A41CD;
}

a:hover {
  text-decoration: underline;
  -moz-text-decoration-style: solid;
}

.clear {
  clear: both;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.article_thumbnail_image, .great_image_100, .great_image_30, .great_image_50, .great_image_70, .image_50, .image_70, .image_70_c {
  border-radius: 2px;
  height: auto;
}

.arrow_box:after, .arrow_box:before, .balloon_style_1:after, .balloon_style_1:before, .balloon_style_2::after, .balloon_style_2::before {
  bottom: 100%;
  height: 0;
  width: 0;
  content: " ";
}

.m_b_minus_30 {
  margin-bottom: -30px !important;
}

.m_0 {
  margin: 0 !important;
}

.m_t_5 {
  margin-top: 5px !important;
}

.m_t_10 {
  margin-top: 10px !important;
}

.m_t_15 {
  margin-top: 15px !important;
}

.m_t_30 {
  margin-top: 30px !important;
}

.m_t_45 {
  margin-top: 45px !important;
}

.m_t_60 {
  margin-top: 60px !important;
}

.m_b_0 {
  margin-bottom: 0 !important;
}

.m_b_5 {
  margin-bottom: 5px !important;
}

.m_b_10 {
  margin-bottom: 10px !important;
}

.m_b_15 {
  margin-bottom: 15px !important;
}

.m_b_30 {
  margin-bottom: 30px !important;
}

.m_b_45 {
  margin-bottom: 45px !important;
}

.m_b_60 {
  margin-bottom: 60px !important;
}
.m_b_100 {
  margin-bottom: 100px !important;
}

.p_b_15 {
  padding-bottom: 15px !important;
}

.o_8 {
  -webkit-transition: all 0.1s ease 0s;
  -moz-transition: all 0.1s ease 0s;
  -ms-transition: all 0.1s ease 0s;
  -o-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}

.o_8:hover {
  opacity: .8;
}

.b_b_1 {
  border-bottom: 1px solid #00A4E1;
}

.right_15 {
  right: 15px;
}

.left_45 {
  left: 45px;
}

.f_b {
  font-weight: 700;
}

.f_s_85 {
  font-size: 85%;
}

.f_s_100 {
  font-size: 100%;
}

.f_s_105 {
  font-size: 105%;
}

.f_s_110 {
  font-size: 110%;
}

.f_s_115 {
  font-size: 115%;
}

.f_s_120 {
  font-size: 120%;
}

.f_s_125 {
  font-size: 125%;
}

.f_s_130 {
  font-size: 130%;
}

.f_s_135 {
  font-size: 135%;
}

.f_s_140 {
  font-size: 140%;
}

.f_s_145 {
  font-size: 145%;
}

.f_s_150 {
  font-size: 150%;
}

.f_s_155 {
  font-size: 155%;
}

.f_s_160 {
  font-size: 160%;
}

.f_s_165 {
  font-size: 165%;
}

.f_s_170 {
  font-size: 170%;
}

.f_s_175 {
  font-size: 175%;
}

.f_s_180 {
  font-size: 180%;
}

.f_s_185 {
  font-size: 185%;
}

.f_s_190 {
  font-size: 190%;
}

.f_s_195 {
  font-size: 195%;
}

.f_s_200 {
  font-size: 200%;
}

.f_s_205 {
  font-size: 205%;
}

.f_s_210 {
  font-size: 210%;
}

.f_s_215 {
  font-size: 215%;
}

.f_s_220 {
  font-size: 220%;
}

.f_s_225 {
  font-size: 225%;
}

.f_s_230 {
  font-size: 230%;
}

.f_s_235 {
  font-size: 235%;
}

.f_s_240 {
  font-size: 240%;
}

.f_s_245 {
  font-size: 245%;
}

.f_s_250 {
  font-size: 250%;
}

.l_h_150 {
  line-height: 150%;
}

.text_left {
  text-align: left;
}

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

.f_w_normal {
  font-weight: 500;
}

.inline {
  display: inline;
}

.block, .image_70_c, article, aside, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

.no_width {
  width: auto !important;
}

.flat_Frame {
  background: #FFF;
  border-radius: 2px;
  box-shadow: 1px 2px 0 2px rgba(0, 0, 0, 0.05);
  padding: 5px;
}

.heading_1, .heading_2 {
  margin: 0 0 15px;
  padding: 0 0 5px 27px;
}

.black {
  color: #000;
}
.red {
  color: red;
}

.blue {
  color: #00f;
}

.green {
  color: green;
}

.check_green {
  color: #6EC02A;
}

.word {
  font-size: 130%;
  margin: 15px 0;
}

.heading_1, .heading_2, .heading_3, .heading_4 {
  font-size: 125%;
}

.heading_1 {
  background: url(../../img/common/h2_icon_5.png) 0 4px no-repeat;
  border-bottom: 2px solid #00A4E1;
  line-height: 1.4;
}

.heading_2, .heading_3h_1 {
  border-bottom: 2px solid #ff3f3f;
}

.heading_2 {
  background: url(../../img/common/h2_icon_6.png) 0 4px no-repeat;
  line-height: 1.4;
}

.heading_3, .heading_4 {
  margin: 30px -15px 15px;
}

.heading_3 {
  background: #F2F2F2;
  line-height: 1.4;
  padding: 15px;
}

.great_image_100, .great_image_30, .great_image_50, .great_image_70 {
  background-color: #F9F9F9;
}

.heading_4 {
  line-height: 1.4;
  padding: 15px;
}

.heading_3h_1 {
  margin: 30px -15px 15px 0;
  padding: 0 15px 10px 0;
}

.heading_4h_1 {
  font-size: 100%;
  margin: 10px 0;
}

.marker_1 {
    border-radius: 0;
    box-shadow: 0 -1px 0 0 rgba(237, 72, 45, 1) inset;
		padding-bottom: 2px;
    font-style: normal;
}

.article_thumbnail_image {
  margin: 0 auto;
  width: 100%;
  border-bottom: 2px solid #E9E9E9;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.02);
}

.great_image_100 {
  border: 1px solid #E7E7E7;
  box-sizing: border-box;
  margin: 0;
  padding: 5px;
  width: 100%;
}

.great_image_70 {
  border: 1px solid #E7E7E7;
  box-sizing: border-box;
  margin: 0;
  padding: 5px;
  width: 70%;
}

.great_image_50 {
  border: 1px solid #E7E7E7;
  box-sizing: border-box;
  margin: 0;
  padding: 5px;
  width: 50%;
}

.great_image_30 {
  border: 1px solid #E7E7E7;
  box-sizing: border-box;
  margin: 0;
  padding: 5px;
  width: 30%;
}

.image_70_c {
  margin: 0 auto;
  width: 70%;
}

.image_70 {
  border: 1px solid #E7E7E7;
  margin: 0;
  padding: 5px;
  width: 70%;
}

.image_50 {
  border: 1px solid #E7E7E7;
  margin: 0;
  padding: 5px;
  width: 50%;
}

.image_98 {
  border: 1px solid #E7E7E7;
  border-radius: 2px;
  height: auto;
  margin: 0;
  padding: 5px;
  width: 98%;
}

.great_image_set_1 img, .great_image_set_10 img, .great_image_set_100 img, .great_image_set_11 img, .great_image_set_12 img, .great_image_set_13 img, .great_image_set_14 img, .great_image_set_15 img, .great_image_set_16 img, .great_image_set_17 img, .great_image_set_18 img, .great_image_set_19 img, .great_image_set_2 img, .great_image_set_20 img, .great_image_set_21 img, .great_image_set_22 img, .great_image_set_23 img, .great_image_set_24 img, .great_image_set_25 img, .great_image_set_26 img, .great_image_set_27 img, .great_image_set_28 img, .great_image_set_29 img, .great_image_set_3 img, .great_image_set_30 img, .great_image_set_31 img, .great_image_set_32 img, .great_image_set_33 img, .great_image_set_34 img, .great_image_set_35 img, .great_image_set_36 img, .great_image_set_37 img, .great_image_set_38 img, .great_image_set_39 img, .great_image_set_4 img, .great_image_set_40 img, .great_image_set_41 img, .great_image_set_42 img, .great_image_set_43 img, .great_image_set_44 img, .great_image_set_45 img, .great_image_set_46 img, .great_image_set_47 img, .great_image_set_48 img, .great_image_set_49 img, .great_image_set_5 img, .great_image_set_50 img, .great_image_set_51 img, .great_image_set_52 img, .great_image_set_53 img, .great_image_set_54 img, .great_image_set_55 img, .great_image_set_56 img, .great_image_set_57 img, .great_image_set_58 img, .great_image_set_59 img, .great_image_set_6 img, .great_image_set_60 img, .great_image_set_61 img, .great_image_set_62 img, .great_image_set_63 img, .great_image_set_64 img, .great_image_set_65 img, .great_image_set_66 img, .great_image_set_67 img, .great_image_set_68 img, .great_image_set_69 img, .great_image_set_7 img, .great_image_set_70 img, .great_image_set_71 img, .great_image_set_72 img, .great_image_set_73 img, .great_image_set_74 img, .great_image_set_75 img, .great_image_set_76 img, .great_image_set_77 img, .great_image_set_78 img, .great_image_set_79 img, .great_image_set_8 img, .great_image_set_80 img, .great_image_set_81 img, .great_image_set_82 img, .great_image_set_83 img, .great_image_set_84 img, .great_image_set_85 img, .great_image_set_86 img, .great_image_set_87 img, .great_image_set_88 img, .great_image_set_89 img, .great_image_set_9 img, .great_image_set_90 img, .great_image_set_91 img, .great_image_set_92 img, .great_image_set_93 img, .great_image_set_94 img, .great_image_set_95 img, .great_image_set_96 img, .great_image_set_97 img, .great_image_set_98 img, .great_image_set_99 img {
  background-color: #F9F9F9;
  border: 1px solid #E7E7E7;
  border-radius: 2px;
  box-sizing: border-box;
  height: auto;
  margin: 0;
  padding: 5px;
}

.great_image_set_100 .click_zoom, .great_image_set_100 img {
  width: 100%;
}

.great_image_set_99 .click_zoom, .great_image_set_99 img {
  width: 99%;
}

.great_image_set_98 .click_zoom, .great_image_set_98 img {
  width: 98%;
}

.great_image_set_97 .click_zoom, .great_image_set_97 img {
  width: 97%;
}

.great_image_set_96 .click_zoom, .great_image_set_96 img {
  width: 96%;
}

.great_image_set_95 .click_zoom, .great_image_set_95 img {
  width: 95%;
}

.great_image_set_94 .click_zoom, .great_image_set_94 img {
  width: 94%;
}

.great_image_set_93 .click_zoom, .great_image_set_93 img {
  width: 93%;
}

.great_image_set_92 .click_zoom, .great_image_set_92 img {
  width: 92%;
}

.great_image_set_91 .click_zoom, .great_image_set_91 img {
  width: 91%;
}

.great_image_set_90 .click_zoom, .great_image_set_90 img {
  width: 90%;
}

.great_image_set_89 .click_zoom, .great_image_set_89 img {
  width: 89%;
}

.great_image_set_88 .click_zoom, .great_image_set_88 img {
  width: 88%;
}

.great_image_set_87 .click_zoom, .great_image_set_87 img {
  width: 87%;
}

.great_image_set_86 .click_zoom, .great_image_set_86 img {
  width: 86%;
}

.great_image_set_85 .click_zoom, .great_image_set_85 img {
  width: 85%;
}

.great_image_set_84 .click_zoom, .great_image_set_84 img {
  width: 84%;
}

.great_image_set_83 .click_zoom, .great_image_set_83 img {
  width: 83%;
}

.great_image_set_82 .click_zoom, .great_image_set_82 img {
  width: 82%;
}

.great_image_set_81 .click_zoom, .great_image_set_81 img {
  width: 81%;
}

.great_image_set_80 .click_zoom, .great_image_set_80 img {
  width: 80%;
}

.great_image_set_79 .click_zoom, .great_image_set_79 img {
  width: 79%;
}

.great_image_set_78 .click_zoom, .great_image_set_78 img {
  width: 78%;
}

.great_image_set_77 .click_zoom, .great_image_set_77 img {
  width: 77%;
}

.great_image_set_76 .click_zoom, .great_image_set_76 img {
  width: 76%;
}

.great_image_set_75 .click_zoom, .great_image_set_75 img {
  width: 75%;
}

.great_image_set_74 .click_zoom, .great_image_set_74 img {
  width: 74%;
}

.great_image_set_73 .click_zoom, .great_image_set_73 img {
  width: 73%;
}

.great_image_set_72 .click_zoom, .great_image_set_72 img {
  width: 72%;
}

.great_image_set_71 .click_zoom, .great_image_set_71 img {
  width: 71%;
}

.great_image_set_70 .click_zoom, .great_image_set_70 img {
  width: 70%;
}

.great_image_set_69 .click_zoom, .great_image_set_69 img {
  width: 69%;
}

.great_image_set_68 .click_zoom, .great_image_set_68 img {
  width: 68%;
}

.great_image_set_67 .click_zoom, .great_image_set_67 img {
  width: 67%;
}

.great_image_set_66 .click_zoom, .great_image_set_66 img {
  width: 66%;
}

.great_image_set_65 .click_zoom, .great_image_set_65 img {
  width: 65%;
}

.great_image_set_64 .click_zoom, .great_image_set_64 img {
  width: 64%;
}

.great_image_set_63 .click_zoom, .great_image_set_63 img {
  width: 63%;
}

.great_image_set_62 .click_zoom, .great_image_set_62 img {
  width: 62%;
}

.great_image_set_61 .click_zoom, .great_image_set_61 img {
  width: 61%;
}

.great_image_set_60 .click_zoom, .great_image_set_60 img {
  width: 60%;
}

.great_image_set_59 .click_zoom, .great_image_set_59 img {
  width: 59%;
}

.great_image_set_58 .click_zoom, .great_image_set_58 img {
  width: 58%;
}

.great_image_set_57 .click_zoom, .great_image_set_57 img {
  width: 57%;
}

.great_image_set_56 .click_zoom, .great_image_set_56 img {
  width: 56%;
}

.great_image_set_55 .click_zoom, .great_image_set_55 img {
  width: 55%;
}

.great_image_set_54 .click_zoom, .great_image_set_54 img {
  width: 54%;
}

.great_image_set_53 .click_zoom, .great_image_set_53 img {
  width: 53%;
}

.great_image_set_52 .click_zoom, .great_image_set_52 img {
  width: 52%;
}

.great_image_set_51 .click_zoom, .great_image_set_51 img {
  width: 51%;
}

.great_image_set_50 .click_zoom, .great_image_set_50 img {
  width: 50%;
}

.great_image_set_49 .click_zoom, .great_image_set_49 img {
  width: 49%;
}

.great_image_set_48 .click_zoom, .great_image_set_48 img {
  width: 48%;
}

.great_image_set_47 .click_zoom, .great_image_set_47 img {
  width: 47%;
}

.great_image_set_46 .click_zoom, .great_image_set_46 img {
  width: 46%;
}

.great_image_set_45 .click_zoom, .great_image_set_45 img {
  width: 45%;
}

.great_image_set_44 .click_zoom, .great_image_set_44 img {
  width: 44%;
}

.great_image_set_43 .click_zoom, .great_image_set_43 img {
  width: 43%;
}

.great_image_set_42 .click_zoom, .great_image_set_42 img {
  width: 42%;
}

.great_image_set_41 .click_zoom, .great_image_set_41 img {
  width: 41%;
}

.great_image_set_40 .click_zoom, .great_image_set_40 img {
  width: 40%;
}

.great_image_set_39 .click_zoom, .great_image_set_39 img {
  width: 39%;
}

.great_image_set_38 .click_zoom, .great_image_set_38 img {
  width: 38%;
}

.great_image_set_37 .click_zoom, .great_image_set_37 img {
  width: 37%;
}

.great_image_set_36 .click_zoom, .great_image_set_36 img {
  width: 36%;
}

.great_image_set_35 .click_zoom, .great_image_set_35 img {
  width: 35%;
}

.great_image_set_34 .click_zoom, .great_image_set_34 img {
  width: 34%;
}

.great_image_set_33 .click_zoom, .great_image_set_33 img {
  width: 33%;
}

.great_image_set_32 .click_zoom, .great_image_set_32 img {
  width: 32%;
}

.great_image_set_31 .click_zoom, .great_image_set_31 img {
  width: 31%;
}

.great_image_set_30 .click_zoom, .great_image_set_30 img {
  width: 30%;
}

.great_image_set_29 .click_zoom, .great_image_set_29 img {
  width: 29%;
}

.great_image_set_28 .click_zoom, .great_image_set_28 img {
  width: 28%;
}

.great_image_set_27 .click_zoom, .great_image_set_27 img {
  width: 27%;
}

.great_image_set_26 .click_zoom, .great_image_set_26 img {
  width: 26%;
}

.great_image_set_25 .click_zoom, .great_image_set_25 img {
  width: 25%;
}

.great_image_set_24 .click_zoom, .great_image_set_24 img {
  width: 24%;
}

.great_image_set_23 .click_zoom, .great_image_set_23 img {
  width: 23%;
}

.great_image_set_22 .click_zoom, .great_image_set_22 img {
  width: 22%;
}

.great_image_set_21 .click_zoom, .great_image_set_21 img {
  width: 21%;
}

.great_image_set_20 .click_zoom, .great_image_set_20 img {
  width: 20%;
}

.great_image_set_19 .click_zoom, .great_image_set_19 img {
  width: 19%;
}

.great_image_set_18 .click_zoom, .great_image_set_18 img {
  width: 18%;
}

.great_image_set_17 .click_zoom, .great_image_set_17 img {
  width: 17%;
}

.great_image_set_16 .click_zoom, .great_image_set_16 img {
  width: 16%;
}

.great_image_set_15 .click_zoom, .great_image_set_15 img {
  width: 15%;
}

.great_image_set_14 .click_zoom, .great_image_set_14 img {
  width: 14%;
}

.great_image_set_13 .click_zoom, .great_image_set_13 img {
  width: 13%;
}

.great_image_set_12 .click_zoom, .great_image_set_12 img {
  width: 12%;
}

.great_image_set_11 .click_zoom, .great_image_set_11 img {
  width: 11%;
}

.great_image_set_10 .click_zoom, .great_image_set_10 img {
  width: 10%;
}

.great_image_set_9 .click_zoom, .great_image_set_9 img {
  width: 9%;
}

.great_image_set_8 .click_zoom, .great_image_set_8 img {
  width: 8%;
}

.great_image_set_7 .click_zoom, .great_image_set_7 img {
  width: 7%;
}

.great_image_set_6 .click_zoom, .great_image_set_6 img {
  width: 6%;
}

.great_image_set_5 .click_zoom, .great_image_set_5 img {
  width: 5%;
}

.great_image_set_4 .click_zoom, .great_image_set_4 img {
  width: 4%;
}

.great_image_set_3 .click_zoom, .great_image_set_3 img {
  width: 3%;
}

.great_image_set_2 .click_zoom, .great_image_set_2 img {
  width: 2%;
}

.great_image_set_1 .click_zoom, .great_image_set_1 img {
  width: 1%;
}
.no_select {
	-ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}