/***************
チャージ
****************/
.charge {

}
.charge .charge_inner {

}
.charge .charge_inner .charge_inner_box {

}

/***************
CDNチャージ
***************/
.cdn_charge {

}
.cdn_charge .cdn_charge_innder {
	padding: 50px;
}
.cdn_charge .cdn_charge_innder .balance {
	display: flex;
	flex-wrap: wrap;
	border-bottom: solid #d7d7d7 1px;
}
.cdn_charge .cdn_charge_innder .balance h2 {
	text-align: left;
	flex-basis: 100%;
}
.cdn_charge .cdn_charge_innder .balance .left {
	flex-basis: 50%;
}
.cdn_charge .cdn_charge_innder .balance .right {
	flex-basis: 50%;
	font-size: 38px;
	padding: 0 15px 0 0;
	box-sizing: border-box;
}
.cdn_charge .cdn_charge_innder .balance .right span {
	text-align: right;
	display: block;
}
.cdn_charge .cdn_charge_innder .balance .right .currency {
	display: initial;
	font-size: 24px;
}


.cdn_charge .cdn_charge_innder .button_right {
	text-align: right;
	margin: 15px 0 0 0;
}
.cdn_charge .cdn_charge_innder button {
	border: none;
	background-color: #1EBC4D;
	margin: 0;
	padding: 0;
	color: #fcfcfc;
	border-radius: 2px;
	vertical-align: middle;
}
.cdn_charge .cdn_charge_innder button .action_charge,
.cdn_charge .cdn_charge_innder button .action_credit_card_add {
	font-size: 14px;
	cursor: pointer;
	display: block;
	position: relative;
	padding: 9px 10px 3px 6px;
}
.cdn_charge .cdn_charge_innder button svg {
	width: 24px;
	height: 24px;
/*
	margin: 5px 5px 5px 5px;
*/
	fill: #fcfcfc;
	position: relative;
	top: -2px;
}
.cdn_charge .cdn_charge_innder button .word {
	position: relative;
	bottom: 7px;
}




.cdn_charge .cdn_charge_innder .credit_card_add {
	margin: 30px 0 0 0;
}
.cdn_charge .cdn_charge_innder .credit_card_add h2 {
	text-align: left;
}
.cdn_charge .cdn_charge_innder .credit_card_add button {

}
.cdn_charge .cdn_charge_innder .credit_card_add button .action_credit_card_add {

}
.cdn_charge .cdn_charge_innder .credit_card_add button svg {

}
.cdn_charge .cdn_charge_innder .credit_card_add .pay_type_switch {
	display: flex;
	border-bottom: solid #d7d7d7 1px;
}
.cdn_charge .cdn_charge_innder .credit_card_add .pay_type_switch p {
	margin: 10px 30px 0 0;
}
.cdn_charge .cdn_charge_innder .credit_card_add .pay_type_switch ul {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}
.cdn_charge .cdn_charge_innder .credit_card_add .pay_type_switch ul li {
	padding: 10px;
	cursor: pointer;
}
.cdn_charge .cdn_charge_innder .credit_card_add .pay_type_switch ul li.now {
	border-bottom: solid #1EBC4D 5px;
}



/**************

***************/
.cdn_charge_innder #payment-form {
	visibility: hidden;
	display: none;
}
.cdn_charge_innder #payment-form .form-row {
	text-align: left;
	border: solid #d7d7d7 1px;
	border-radius: 8px;
	margin: 15px 0 0 0;
	padding: 15px;
}

.cdn_charge_innder #payment-form .form-row .form_top {
	margin: 0 0 15px 0;
}
.cdn_charge_innder #payment-form .form-row h2 {
	text-align: left;
}
.cdn_charge_innder #payment-form  .form-row label {

}
.cdn_charge_innder #payment-form .form-row input {
	padding: 10px;
	width: 400px;
}
.cdn_charge_innder #payment-form .form-row #card-element {
	width: 400px;
	margin: 0 0 0 45px;
}
.cdn_charge_innder #payment-form  .form-row button {

}


.cdn_charge_innder #payment-form  .form-row .form-row_button {
text-align: right;
}
.cdn_charge_innder #payment-form  .form-row .form-row_button button {
	padding: 10px 10px 10px 10px;
	margin: 0 0 0 15px;
	font-size: 16px;
	text-align: right;
	cursor: pointer;
}
.cdn_charge_innder #payment-form  .form-row .form-row_button .form-row_button_chancel {
	display: inline-block;
	cursor: pointer;
}

/****************
credit_card_data
****************/
.credit_card_data {

}
.credit_card_data .credit_card_data_inner {

}
.credit_card_data .credit_card_data_inner .credit_card_data_inner_top {

}
.credit_card_data .credit_card_data_inner .credit_card_data_inner_top ul {

}
.credit_card_data .credit_card_data_inner .credit_card_data_inner_top ul li {

}

.credit_card_data .credit_card_data_inner .credit_card_data_inner_bottom {
	position: relative;
}
.credit_card_data .credit_card_data_inner .credit_card_data_inner_bottom ul {
	border-top: dashed #d7d7d7 1px;
	border-bottom: dashed #d7d7d7 1px;
	padding: 10px 0 10px 0;
}
.credit_card_data .credit_card_data_inner .credit_card_data_inner_bottom ul li {

}
.credit_card_data .credit_card_data_inner ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	text-align: left;
}
.credit_card_data .credit_card_data_inner ul li {
	flex-basis: 25%;
}
.credit_card_data .credit_card_data_inner .credit_card_data_inner_bottom .credit_card_delete {
	position: absolute;
	top: 7px;
	right: 0;
}
.credit_card_data .credit_card_data_inner .credit_card_data_inner_bottom .credit_card_delete:hover {
	background-color: #e9e9e9;
	border-radius: 33px;
}
.credit_card_data .credit_card_data_inner .credit_card_data_inner_bottom .credit_card_delete button {
border: none;
background-color: transparent;
margin: 0;
padding: 0;
}
.credit_card_data .credit_card_data_inner .credit_card_data_inner_bottom .credit_card_delete button span {
font-size: 24px;
font-weight: bold;
width: 36px;
height: 36px;
display: inline-block;
position: relative;
top: 3px;
left: 0px;
vertical-align: middle;
text-align: center;
cursor: pointer;
}

.credit_card_data .credit_card_data_inner .credit_card_data_inner_bottom .credit_card_delete button span svg {
width: 24px;
height: 24px;
margin: 5px;
fill: #1EBC4D;
}

/************

*************/
.credit_card_data .credit_card_data_inner .credit_card_notice {
	text-align: right;
	margin: 10px 0 0 0;
	visibility: hidden;
}
.credit_card_data .credit_card_data_inner .credit_card_notice .credit_card_notice_cancel {
	display: inline-block;
	padding: 5px;
	cursor: pointer;
}
.credit_card_data .credit_card_data_inner .credit_card_notice .credit_card_notice_delete {
	position: relative;
	border: solid 0px #e63870;
	display: inline-block;
	background-color: #3474E0;
	color: #ffffff;
	border-radius: 3px;
	font-size: 14px;
	padding: 3px 6px 3px 6px;
	cursor: pointer;
	text-align: right;
}
/***************

****************/
.charge_submit_box {
	visibility: hidden;
}
.charge_submit_box .charge_submit_box_inner {
	text-align: right;
	margin: -91px 15px 0 0;
}
.charge_submit_box .charge_submit_box_inner h2 {
	text-align: right;
	display: inline-block;
}
.charge_submit_box .charge_submit_box_inner input {
	padding: 5px;
	font-size: 24px;
	width: 240px;
	color: #212121;
}
.charge_submit_box .charge_submit_box_inner span {
	font-size: 24px;
}

 .charge_submit_box .charge_submit_box_inner .charge_submit_box_notice {
	text-align: right;
	margin: 10px 0 0 0;
}
.charge_submit_box .charge_submit_box_inner .charge_submit_box_notice .charge_submit_box_notice_cancel {
 	position: relative;
	display: inline-block;
	padding: 5px;
	cursor: pointer;
}
.charge_submit_box .charge_submit_box_inner .charge_submit_box_notice .charge_submit_box_notice_cancel svg {
	position: absolute;
	top: -21px;
	left: -37px;
}
.charge_submit_box .charge_submit_box_inner .charge_submit_box_notice .charge_submit_box_notice_payment {
	position: relative;
	border: solid 0px #e63870;
	display: inline-block;
	background-color: #1EBC4D;
	color: #ffffff;
	border-radius: 3px;
	font-size: 16px;
	padding: 5px 10px 5px 10px;
	cursor: pointer;
	text-align: right;

}











