
/****************
フォルダsvgクラス
****************/
.cls-1{fill:#a2dcfb;}.cls-2{fill:#84ccf6;}
.tag_red{fill:#E24535;}
.tag_orange{fill:#E78F34;}
.tag_green{fill:#5CBF4D;}
.tag_yellow{fill:#EEC342;}
.tag_purple{fill:#5256C5;}
.tag_grey{fill:#848489;}


/********
folder_list
*********/
.folder_list {

}
.folder_list .folder_list_inner {

}
.folder_list .folder_list_inner ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
align-content: flex-start;
}
.folder_list .folder_list_inner ul li {
	text-align: center;
	margin: 15px;
	flex-basis:8%;
}
.folder_list .folder_list_inner ul li a {
	display: block;
	color: #292f33;
}
.folder_list .folder_list_inner ul li a svg {
	width: 64px;
	height: 64px;
	display: block;
	margin: 0 auto;
}
.folder_list .folder_list_inner ul li a span {

}
.folder_list .folder_list_inner ul li a span.folder_title {
	display: block;
	margin: -5px 0 -5px 0;
}
.folder_list .folder_list_inner ul li span.folder_file_num {
	color: #aaa;
	font-size: 14px;

}
/*****
folders
******/
.folders {

}
.folders .folders_inner {

}
.folders .folders_inner .folders_inner_title {
	margin: 30px;
}

/******************
folder_folder_action
******************/
.picture_center_inner_box .folder_action {

}

.picture_center_inner_box .folder_action .folder_action_inner {
	background: white;
	height: 64px;
	left: 0;
	right: 0;
	top: 0;
	position:fixed;
	box-shadow: 0px 0px 6px 0px rgba(60,64,67,0.30);
/*
	visibility: hidden;
*/
	z-index: 30;
}
.picture_center_inner_box .folder_action .folder_action_inner .folder_action_inner_box {
	list-style: none;
	display: flex;
	padding: 0;
	margin: 14px 2% 0 215px;
	justify-content: flex-end;
}
.picture_center_inner_box .folder_action .folder_action_inner .folder_action_inner_box li {
	font-size: 19px;
}
.picture_center_inner_box .folder_action .folder_action_inner .folder_action_inner_box li button {
	border: none;
	background-color: transparent;
	margin: 0;
	padding: 0;
}

.picture_center_inner_box .folder_action .folder_action_inner .folder_action_inner_box li svg {
	width: 24px;
	height: 24px;
	margin: 5px;
	fill: #1EBC4D;
}
.picture_center_inner_box .folder_action .folder_action_inner .folder_action_inner_box li .folder_action_delete,
.picture_center_inner_box .folder_action .folder_action_inner .folder_action_inner_box li .action_submit,
.picture_center_inner_box .folder_action .folder_action_inner .folder_action_inner_box li .action_back,
.picture_center_inner_box .folder_action .folder_action_inner .folder_action_inner_box li .action_folder_rename_submit {
	margin: 4px 15px 0 0;
	font-size: 24px;
	width: 40px;
	height: 36px;
	padding: 4px 0 0 0;
	display: inline-block;
	position: relative;
	top: -7px;
	left: 0px;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
}
.picture_center_inner_box .folder_action .folder_action_inner .folder_action_inner_box li .select_trash,
.picture_center_inner_box .folder_action .folder_action_inner .folder_action_inner_box li .select_move,
.picture_center_inner_box .folder_action .folder_action_inner .folder_action_inner_box li .select_html,

.picture_center_inner_box .folder_action .folder_action_inner .folder_action_inner_box li .select_add,
.picture_center_inner_box .folder_action .folder_action_inner .folder_action_inner_box li .select_other  {
	margin: 0 15px 0 0;
	font-size: 24px;
	font-weight: bold;
	width: 40px;
	height: 36px;
	padding: 4px 0 0 0;
	display: inline-block;
	position: relative;
	top: -2px;
	left: 0px;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
}

.picture_center_inner_box .folder_action .folder_action_inner .folder_action_inner_box li .folder_action_delete:hover,
.picture_center_inner_box .folder_action .folder_action_inner .folder_action_inner_box li .select_trash:hover,
.picture_center_inner_box .folder_action .folder_action_inner .folder_action_inner_box li .select_move:hover,
.picture_center_inner_box .folder_action .folder_action_inner .folder_action_inner_box li .action_submit:hover,
.picture_center_inner_box .folder_action .folder_action_inner .folder_action_inner_box li .select_html:hover,
.picture_center_inner_box .folder_action .folder_action_inner .folder_action_inner_box li .action_back:hover,
.picture_center_inner_box .folder_action .folder_action_inner .folder_action_inner_box li .select_add:hover,
.picture_center_inner_box .folder_action .folder_action_inner .folder_action_inner_box li .select_other:hover,
.picture_center_inner_box .folder_action .folder_action_inner .folder_action_inner_box li .action_folder_rename_submit:hover {
	background-color: #e9e9e9;
	border-radius: 33px;
}






.picture_center_inner_box .folder_action .folder_action_inner .folder_action_inner_box li:nth-child(1){

}
.picture_center_inner_box .folder_action .folder_action_inner .folder_action_inner_box li:nth-child(2) {
margin-left: auto;
margin-top: 0px;
}
.picture_center_inner_box .folder_action .folder_action_inner .folder_action_inner_box li:nth-child(3) {
margin-top: 0px;
}
/*********************

***********************/
.select_add_overlay {
	background: rgba(0, 0, 0, 0.55) none repeat scroll 0 0;
	z-index: 2000;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	visibility: hidden;
}
.select_add_overlay .select_add_overlay_inner {
	bottom: 0;
	display: block;
	height: 100%;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	right: 0;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 3000;
}



.select_add_overlay .select_add_overlay_inner .select_add_overlay_inner_box {
	background-color: #ffffff;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	height: 520px;
	border-radius: 12px;
	overflow-y: hidden;
}
.select_add_overlay .select_add_overlay_inner .select_add_overlay_inner_box_top
{
	width: 100%;
	height: 60px;
	border-bottom: solid #e9e9e9 1px;
}
.select_add_overlay .select_add_overlay_inner .select_add_overlay_inner_title {
	position: fixed;
	top: 0;
	text-align: left;
	padding: 15px;
}
.select_add_overlay .select_add_overlay_inner .select_add_overlay_inner_delete {
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 24px;
	cursor:pointer;
}
.select_add_overlay .select_add_overlay_inner .select_add_overlay_inner_box .upload {
	overflow-y: scroll;
}
.select_add_overlay .select_add_overlay_inner ul {
	list-style: none;
	padding: 0;
	margin: 0px 0 0 0;
	overflow-y: auto;
	height: 399px;
}
.select_add_overlay .select_add_overlay_inner ul .ul_title {
	font-size: 14px;
	margin: 0 0 0 15px;
	text-align: left;
	color: #aaa;
}
.select_add_overlay .select_add_overlay_inner ul li {
	cursor: pointer;
}
.select_add_overlay .select_add_overlay_inner ul li:hover {
	background-color:#f0f0f0;
}
.select_add_overlay .select_add_overlay_inner ul li .li_title {
	text-align: left;
	padding: 15px;
}
.select_add_overlay .select_add_overlay_inner ul li .li_title svg {
	width: 24px;
	height: 24px;
	position: relative;
	top: 6px;
}
/***************

*****************/
.select_other_overlay, 
.select_folder_delete_overlay {
	background: rgba(0, 0, 0, 0.55) none repeat scroll 0 0;
	z-index: 2000;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	visibility: hidden;
}
.select_other_overlay .select_other_overlay_inner,
.select_folder_delete_overlay .select_folder_delete_overlay_inner {
	bottom: 0;
	display: block;
	height: 100%;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	right: 0;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 3000;
}



.select_other_overlay .select_other_overlay_inner .select_other_overlay_inner_box,
.select_folder_delete_overlay .select_folder_delete_overlay_inner .select_folder_delete_overlay_inner_box {
	position: absolute;
	background-color: #ffffff;
	width: 260px;
	z-index: 4000;
	top: 50px;
	right: 47px;
	text-align: right;
}
.select_folder_delete_overlay .select_folder_delete_overlay_inner .select_folder_delete_overlay_inner_box {
	width: 360px;
}

.select_other_overlay .select_other_overlay_inner .select_other_overlay_inner_box_top,
.select_folder_delete_overlay .select_folder_delete_overlay_inner .select_folder_delete_overlay_inner_box_top {
	width: 100%;
	height: 60px;
	border-bottom: solid #e9e9e9 1px;
}
.select_other_overlay .select_other_overlay_inner .select_other_overlay_inner_title,
.select_folder_delete_overlay .select_folder_delete_overlay_inner .select_folder_delete_overlay_inner_title {
	top: 0;
	text-align: left;
	padding: 15px;
}
.select_other_overlay .select_other_overlay_inner .select_other_overlay_inner_delete,
.select_folder_delete_overlay .select_folder_delete_overlay_inner .select_folder_delete_overlay_inner_delete {
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 24px;
	cursor:pointer;
}
.select_other_overlay .select_other_overlay_inner .select_other_overlay_inner_box .upload {
	overflow-y: scroll;
}
.select_other_overlay .select_other_overlay_inner ul {
	list-style: none;
	padding: 0;
	margin: 0px 0 0 0;
	overflow-y: auto;
}
.select_other_overlay .select_other_overlay_inner ul .ul_title {
	font-size: 14px;
	margin: 0 0 0 15px;
	text-align: left;
	color: #aaa;
}
.select_other_overlay .select_other_overlay_inner ul li {
	cursor: pointer;
	padding: 15px;
}
.select_other_overlay .select_other_overlay_inner ul li:hover {
	background-color:#f0f0f0;
}
.select_other_overlay .select_other_overlay_inner ul li .li_title {
	text-align: left;
	padding: 15px;
}
.select_other_overlay .select_other_overlay_inner ul li .li_title svg {
	width: 24px;
	height: 24px;
	position: relative;
	top: 6px;
}

.folder_delete_box  {
	padding: 12px;
}
.folder_delete_box  p {
	text-align: left;
}
/*******************

*******************/
.select_folder_tag_overlay {
	background: rgba(0, 0, 0, 0.55) none repeat scroll 0 0;
	z-index: 2000;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	visibility: hidden;
}
.select_folder_tag_overlay .select_folder_tag_overlay_inner {
	bottom: 0;
	display: block;
	height: 100%;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	right: 0;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 3000;

}
.select_folder_tag_overlay .select_folder_tag_overlay_inner .select_folder_tag_overlay_inner_box {
	position: absolute;
	background-color: #ffffff;
	width: 260px;
	z-index: 4000;
	top: 50px;
	right: 47px;
	text-align: right;
}
.select_folder_tag_overlay .select_folder_tag_overlay_inner .select_folder_tag_overlay_inner_box .select_folder_tag_overlay_inner_box_top {
	width: 100%;
	height: 60px;
	border-bottom: solid #e9e9e9 1px;
}
.select_folder_tag_overlay .select_folder_tag_overlay_inner .select_folder_tag_overlay_inner_box .select_folder_tag_overlay_inner_box_top .select_folder_tag_overlay_inner_title {
	top: 0;
	text-align: left;
	padding: 15px;
}
.select_folder_tag_overlay .select_folder_tag_overlay_inner .select_folder_tag_overlay_inner_box .select_folder_tag_overlay_inner_box_top .select_folder_tag_overlay_inner_delete {
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 24px;
	cursor:pointer;

}
.folder_tag_box {
	overflow: scroll;
	height: 500px;
}
.folder_tag_box ul {
	list-style: none;
	padding: 0;
	margin: 0px 0 0 0;

}
.folder_tag_box ul li {
	cursor: pointer;
	padding: 15px;
	text-align: left;
	vertical-align:middle;
	position: relative;
}
.folder_tag_box ul li:hover {
	background-color:#f0f0f0;
}
.folder_tag_box ul li svg {
	width: 32px;
	height: 32px;
	display: inline-block;
}
.folder_tag_box ul li span {
	position: relative;
	top: -11px;
	vertical-align:middle;
}
/****************
folder_add_action
*****************/
.picture_center_inner_box .folder_add_action {

}
.picture_center_inner_box .folder_add_action .folder_add_action_inner {
	background: white;
	height: 64px;
	left: 0;
	right: 0;
	top: 0;
	position:fixed;
	box-shadow: 0px 0px 6px 0px rgba(60,64,67,0.30);
	z-index: 30;
}
.picture_center_inner_box .folder_add_action .folder_add_action_inner .folder_add_action_inner_box {
	list-style: none;
	display: flex;
	padding: 0;
	margin: 14px 2% 0 215px;
	justify-content: flex-end;
}
.picture_center_inner_box .folder_add_action .folder_add_action_inner .folder_add_action_inner_box li {
	font-size: 19px;
}
.picture_center_inner_box .folder_add_action .folder_add_action_inner .folder_add_action_inner_box li button {
	border: none;
	background-color: transparent;
	margin: 0;
	padding: 0;
}









.picture_center_inner_box .folder_add_action .folder_add_action_inner .folder_add_action_inner_box li button .action_folder_add {
	margin: 4px 15px 0 0;
	font-size: 16px;
	color: #1EBC4D;
	padding: 4px 0 0 0;
	display: inline-block;
	position: relative;
	top: -5px;
	left: 0px;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
}













                                          
.picture_center_inner_box .folder_add_action .folder_add_action_inner .folder_add_action_inner_box li svg {
	width: 24px;
	height: 24px;
	margin: 5px;
	fill: #1EBC4D;
}
.picture_center_inner_box .folder_add_action .folder_add_action_inner .folder_add_action_inner_box li .action_folder_add_submit  {
	margin: 0 15px 0 0;
	font-size: 24px;
	font-weight: bold;
	width: 40px;
	height: 36px;
	padding: 4px 0 0 0;
	display: inline-block;
	position: relative;
	top: -2px;
	left: 0px;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
}

.picture_center_inner_box .folder_add_action .folder_add_action_inner .folder_add_action_inner_box li .action_folder_add_submit:hover {
	background-color: #e9e9e9;
	border-radius: 33px;
}
.picture_center_inner_box .folder_add_action .folder_add_action_inner .folder_add_action_inner_box li:nth-child(1){

}
.picture_center_inner_box .folder_add_action .folder_add_action_inner .folder_add_action_inner_box li:nth-child(2) {
margin-left: auto;
margin-top: 0px;
}
.picture_center_inner_box .folder_add_action .folder_add_action_inner .folder_add_action_inner_box li:nth-child(3) {
margin-top: 0px;
}